<mat-toolbar-row>
  <button mat-icon-button class="sidenav-toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <p class="placeholder-logo">
    Logo will be here
  </p>

  <a class="navigation-link">
    <h2>{{'navigation.programme' | translate}}</h2>
  </a>

  <a class="navigation-link">
    <h2>{{'navigation.movies' | translate}}</h2>
  </a>

  <span class="spacer"></span>

  <ul class="language-picker">
    <li>
      <a>EN</a>
    </li>
    <li>
      <u class="language-separator">
        |
      </u>
    </li>
    <li>
      <a>DE</a>
    </li>
  </ul>
</mat-toolbar-row>

<mat-sidenav-container>

</mat-sidenav-container>
